<!DOCTYPE html>
<html>
  <head>
    <title>Fitness Tailor</title>
    <link rel="stylesheet" href="/static/css/w3.css">
  </head>
  <body>

    <div class="header">
        <header class="w3-container w3-black w3-center">
            <img src="/static/images/logo.png" alt="Logo" width="100" height="100">
            <h1 style="font-size:30px">Fitness Tailor</h1>
            <h2 style="font-size:14px">Find a workout that fits you</h2>
        </header>
    </div>

    <div class="Login Details">
        <div class="w3-container w3-white w3-center">
            <p>Please login to continue.</p>
            <form action="" method="POST">
                <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
                <br>
                <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
                <br>
                <br>
                {% if error %}
                    <p class="error"><strong>Error:</strong> {{ error }}</p>
                {% endif %}
                <input class="w3-btn w3-black" type="submit" value="Login">
            </form>
            <br>
        </div>
    </div>

    <div class="footer">
        <footer class="w3-container w3-black w3-center">
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank"><font color = white>w3.css</font></a></p>
        </footer>
    </div>

  </body>
</html>