<!DOCTYPE html>
<html style="height:100%;">
    <head>
        <title>Fitness Tailor</title>
        <link rel="stylesheet" href="/static/css/check.css">
        <link rel="stylesheet" href="/static/css/w3.css">
        <link rel="stylesheet" href="/static/css/tooltip.css">
        <script src="/static/js/home.js"></script>
    </head>

    {% set iteration = 1 | int %}

    <body style="height:100%;background: #ff9e0f;background: -webkit-linear-gradient(#ffb84d, #ff9e0f);background: -o-linear-gradient(#ffb84d, #ff9e0f);background: -moz-linear-gradient(#ffb84d, #ff9e0f);background: linear-gradient(#ffb84d, #ff9e0f);">

        {% include 'snips/header.html' %}
        {% include 'snips/header2.html' %}

        <form action="{{ url_for('generate') }}" method="POST">

            <div class="w3-container" style="display:table;width:100%">
                <div class="w3-staatliches w3-container w3-bar-block" style="text-align:center;background-color:rgba(255, 255, 255, 0.2);font-size:30px;height:70%;width:15%;border-radius:10%;display:table-cell">
                    <span style="font-weight:bold">
                        My Levels:
                    </span>
                    <br>
                    <div class="w3-animate-opacity" id="selected" style="text-shadow: 2px 2px 4px #ffffff;background-color:transparent;font-family:Trebuchet MS, Helvetica, sans-serif;font-size:20px;height:60%">
                        Beginner
                        <br>
                        Moderate Energy
                    </div>
                    <span class="w3-animate-left" id="muscle_selected_title" style="display:none;font-weight:bold">
                        Muscles:
                    </span>
                    <div id="muscle_selected" style="text-shadow: 2px 2px 4px #ffffff;background-color:transparent;font-family:Trebuchet MS, Helvetica, sans-serif;font-size:20px;height:60%">
                    </div>
                    <span class="w3-animate-left" id="equipment_selected_title" style="display:none;font-weight:bold">
                        Equipment:
                    </span>
                    <div id="equipment_selected" style="text-shadow: 2px 2px 4px #ffffff;background-color:transparent;font-family:Trebuchet MS, Helvetica, sans-serif;font-size:20px;height:60%">
                    </div>
                    <div class="w3-animate_opacity" id="error_selected" style="color:red;font-family:Trebuchet MS, Helvetica, sans-serif;font-size:20px;display:none;">Maximum criteria reached.</div>
                </div>

                <div class="w3-container w3-center" style="display:table-cell">
                    <div class="option w3-staatliches" id="1" style="font-size:40px;margin-bottom:50px">
                        <label class="w3-animate-opacity" style="font-weight:bold">
                            Fitness Level
                        </label>
                        <br>
                        <br>
                        <label class="w3-animate-opacity" style="margin-right:25px">
                            <span class="tooltip" style="border-radius: 80%;margin-right:25px">
                                <input id=LowFitnessRadio type="radio" name="fitnessLevel" value="Beginner" checked onclick="updateSelected(id, 'Beginner')">
                                <img name="Beginner" src="/static/images/icons/level/Beginner.jpg" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)" style="margin-right:5%;height:200px; width:200px; vertical-align:middle;border-radius: 80%;border:1px solid black">
                                <span class="w3-animate-opacity w3-text w3-theme tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;bottom: 80%;">
                                    Beginner
                                </span>
                            </span>
                        </label>

                        <label class="w3-animate-opacity" style="border-radius: 80%;margin-right:25px">
                            <span class="tooltip">
                                <input id=MediumFitnessRadio type="radio" name="fitnessLevel" value="Intermediate" onclick="updateSelected(id, 'Intermediate')">
                                <img name="Intermediate" src="/static/images/icons/level/Intermediate.jpg" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)" style="height:200px; width:200px; vertical-align:middle;border-radius: 80%;border:1px solid black">
                                <span class="w3-animate-opacity w3-text w3-theme tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;bottom: 80%;">
                                    Intermediate
                                </span>
                            </span>
                        </label>

                        <label class="w3-animate-opacity" style="margin-left:25px">
                          <span class="tooltip" style="border-radius: 80%;margin-right:25px">
                              <input id=HighFitnessRadio type="radio" name="fitnessLevel" value="Advanced" onclick="updateSelected(id, 'Advanced')">
                              <img name="Advanced" src="/static/images/icons/level/Advanced.jpg" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)" style="margin-left:5%;height:200px; width:200px; vertical-align:middle;border-radius: 80%;border:1px solid black">
                              <span class="w3-animate-opacity w3-text w3-theme tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;bottom: 80%;left: 55%;">
                                  Advanced
                              </span>
                          </span>
                        </label>
                    </div>

                    <div class="option w3-staatliches" id="2" style="font-size:40px;margin-bottom:50px;display:none">
                        <label class="w3-animate-opacity" style="font-weight:bold">
                            Energy Level
                        </label>
                        <br>
                        <br>
                        <label class="w3-animate-opacity" style="margin-right:25px">
                            <span class="tooltip" style="border-radius: 80%;margin-right:25px">
                                <input id=LowEnergyRadio type="radio" name="energy" value="3" onclick="updateSelected(id, 'Low Energy')">
                                <img name="sad" src="/static/images/sad.png" onmouseover="hover(this);" onmouseout="unhover(this);" style="height:200px; width:200px; vertical-align:middle;border-radius: 80%;">
                                <span class="w3-animate-opacity w3-text w3-theme tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;bottom: 110%;">
                                    Low Energy
                                </span>
                            </span>
                        </label>

                        <label class="w3-animate-opacity">
                            <span class="tooltip" style="border-radius: 80%;margin-right:25px">
                                <input id=ModerateEnergyRadio type="radio" name="energy" value="6" checked onclick="updateSelected(id, 'Moderate Energy')">
                                <img name="neutral" src="/static/images/neutral.png" onmouseover="hover(this);" onmouseout="unhover(this);" style="height:200px; width:200px; vertical-align:middle;border-radius: 80%;">
                                <span class="w3-animate-opacity w3-text w3-theme tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;bottom: 110%;width:175px;left:35%">
                                    Moderate Energy
                                </span>
                            </span>
                        </label>

                        <label class="w3-animate-opacity" style="margin-left:25px">
                            <span class="tooltip" style="border-radius: 80%;margin-right:25px">
                               <input id=HighEnergyRadio type="radio" name="energy" value="9" onclick="updateSelected(id, 'High Energy')">
                               <img name="happy" src="/static/images/happy.png" onmouseover="hover(this);" onmouseout="unhover(this);" style="height:200px; width:200px; vertical-align:middle;border-radius: 80%;">
                               <span class="w3-animate-opacity w3-text w3-theme tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;bottom: 110%;">
                                   High Energy
                               </span>
                            </span>
                        </label>
                    </div>

                    <div class="option w3-staatliches" id="3" style="font-size:40px;margin-bottom:50px;display:none">
                        <label class="w3-animate-opacity" style="font-weight:bold">
                            Muscle Group
                        </label>
                        <br>
                        <br>

                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="ChestCheckbox" type="checkbox" name="muscle" value="Chest" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/muscles/Chest.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Chest
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="ForearmsCheckbox" type="checkbox" name="muscle" value="Forearms" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/muscles/Forearms.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Forearms
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="LatsCheckbox" type="checkbox" name="muscle" value="Lats" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/muscles/Lats.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Lats
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="UpperBackCheckbox" type="checkbox" name="muscle" value="Upper Back" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/muscles/Upper Back.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Upper Back
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="LowerBackCheckbox" type="checkbox" name="muscle" value="Lower Back" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/muscles/Lower Back.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Lower Back
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="NeckCheckbox" type="checkbox" name="muscle" value="Neck" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/muscles/Neck.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Neck
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="QuadsCheckbox" type="checkbox" name="muscle" value="Quads" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/muscles/Legs.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Quads
                                </span>
                            </span>
                        </label>
                        <br>
                        <br>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="HamstringsCheckbox" type="checkbox" name="muscle" value="Hamstrings" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/muscles/Hamstrings.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Hamstrings
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="CalvesCheckbox"type="checkbox" name="muscle" value="Calves" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/muscles/Calves.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Calves
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="TricepsCheckbox" type="checkbox" name="muscle" value="Triceps" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/muscles/Triceps.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Triceps
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="TrapsCheckbox" type="checkbox" name="muscle" value="Traps" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/muscles/Traps.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Traps
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="ShouldersCheckbox" type="checkbox" name="muscle" value="Shoulders" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/muscles/Shoulders.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Shoulders
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="AbdominalsCheckbox" type="checkbox" name="muscle" value="Abs" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/muscles/Abs.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Abs
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="GlutesCheckbox" type="checkbox" name="muscle" value="Glutes" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/muscles/Glutes.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Glutes
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="BicepsCheckbox" type="checkbox" name="muscle" value="Biceps" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/muscles/Biceps.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Biceps
                                </span>
                            </span>
                        </label>
                    </div>

                    <div class="option w3-staatliches" id="4" style="font-size:40px;margin-bottom:50px;display:none">
                        <label class="w3-animate-opacity" style="font-weight:bold">
                            Equipment Selection
                        </label>
                        <br>
                        <br>

                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip" style="border-radius: 80%">
                                <input id="BandCheckbox" type="checkbox" name="equipment" value="Bands" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/equipment/Bands.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Band
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="BarbellCheckbox" type="checkbox" name="equipment" value="Barbell" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/equipment/Barbell.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Barbell
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="CableCheckbox" type="checkbox" name="equipment" value="Cable" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/equipment/Cable.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Cable
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="DumbbellCheckbox" type="checkbox" name="equipment" value="Dumbbell" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/equipment/Dumbbell.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Dumbbell
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="ExerciseBallCheckbox" type="checkbox" name="equipment" value="Exercise Ball" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/equipment/Exercise Ball.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Exercise Ball
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="BodyOnluCheckbox" type="checkbox" name="equipment" value="Bodyweight" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/equipment/Bodyweight.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Body Only
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="EZCurlBarCheckbox" type="checkbox" name="equipment" value="EZ Bar" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/equipment/EZ Bar.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    EZ Bar
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="KettleBellCheckbox" type="checkbox" name="equipment" value="Kettle Bells" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/equipment/Kettle Bells.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Kettlebell
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="MachineCheckbox" type="checkbox" name="equipment" value="Machine" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/equipment/Machine.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Machine
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="OtherCheckbox" type="checkbox" name="equipment" value="Other" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/equipment/Other.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Other
                                </span>
                            </span>
                        </label>
                        <br>
                        <br>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="MedicineBallCheckbox" type="checkbox" name="equipment" value="Medicine Ball" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/equipment/Medicine Ball.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Medicine Ball
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="ChainsCheckbox" type="checkbox" name="equipment" value="Chains" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/equipment/Chains.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Chains
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="TrapBarCheckbox" type="checkbox" name="equipment" value="Trap Bar" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/equipment/Trap Bar.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Trap Bar
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="JumpRopeCheckbox" type="checkbox" name="equipment" value="Jump Rope" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/equipment/Jump Rope.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Jump Rope
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="LacrosseBallCheckbox" type="checkbox" name="equipment" value="Lacrosse Ball" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/equipment/Lacrosse Ball.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Lacrosse Ball
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="RingsCheckbox" type="checkbox" name="equipment" value="Rings" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/equipment/Rings.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Rings
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="RopeCheckbox" type="checkbox" name="equipment" value="Rope" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/equipment/Rope.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Rope
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="SledCheckbox" type="checkbox" name="equipment" value="Sled" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/equipment/Sled.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Sled
                                </span>
                            </span>
                        </label>
                        <label class="w3-animate-opacity" style="margin:10px;">
                            <span class="tooltip"style="border-radius: 80%">
                                <input id="TigerTailCheckbox" type="checkbox" name="equipment" value="Tiger Tail" style="display:none" onclick="updateSelected(id, value)">
                                <img name="happy" src="/static/images/icons/equipment/Tiger Tail.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;" onmouseover="hoverSelection(this)" onmouseout="unhoverSelection(this)">
                                <span class="w3-text tooltiptext w3-animate-opacity" style="background-color:transparent;font-size:20px;">
                                    Tiger Tail
                                </span>
                            </span>
                        </label>


                    </div>

                    <div class="Menu">
                        <div class="generate w3-container w3-center">
                                <input type="hidden" name="username" value={{ username }}>
                                <a href="#" onclick="prevOption()"><img id="prev" src="/static/images/arrowDisabled.png" style="transform: scaleX(-1);width:10%;height:10%;margin-right:30px"></a>
                                <input type="image" name="generate" src="/static/images/generate.png" onmouseover="hover(this);" onmouseout="unhover(this);" border="0" alt="Generate" style="vertical-align:middle;width:20%;height:20%;outline:none;border-radius: 80%;">
                                <a href="#" onclick="nextOption()"><img id="next" src="/static/images/arrow.png" style="width:10%;height:10%;margin-left:30px"></a>
                        </div>
                    </div>

                </div>

                <div class="w3-staatliches w3-container w3-bar-block" style="text-align:center;background-color:rgba(255, 255, 255, 0.2);font-size:30px;height:70%;width:15%;border-radius:10%;display:table-cell">
                    <span style="font-weight:bold">
                        {{ current_user.firstname }} {{ current_user.lastname }}
                    </span>
                    <span style="font-weight:bold">
                        {% if current_user.fitness == 'Beginner' %}
                            <span style="text-shadow: 2px 2px 4px black;color:lime">{{ current_user.fitness }}</span>
                        {% elif current_user.fitness == 'Intermediate' %}
                            <span style="text-shadow: 2px 2px 4px black;color:yellow">{{ current_user.fitness }}</span>
                        {% else %}
                            <span style="text-shadow: 2px 2px 4px black;color:red">{{ current_user.fitness }}</span>
                        {% endif %}
                    </span>
                    <div id="stats" style="text-shadow: 2px 2px 4px #ffffff;background-color:transparent;font-family:Trebuchet MS, Helvetica, sans-serif;font-size:20px;height:60%">
                        <br>
                        Weighing at {{ current_user.weight }} kilos,
                        <br>
                        {% set difference = current_user.weight | string | int - current_user.goalweight | string | int %}
                        {% if difference < 0 %}
                            {% set difference = difference * -1 %}
                            {% set phrase = "away from" %}
                        {% else %}
                            {% set phrase = "higher than" %}
                        {% endif %}
                        {{ difference }} kilos {{ phrase }} your Goal weight of {{ current_user.goalweight }} kilos
                        <br>
                        <br>
                        {{ current_user.firstname }}'s goal:
                        <br>
                        {{ current_user.goal }}
                        <br>

                    </div>
                </div>

            </div>



            {% if error %}
                <p class="w3-container w3-center"><font color="red">{{ error }}</font></p>
            {% endif %}

        </form>

        <br>
        <br>
        <br>

        {% include 'snips/footer.html' %}

    </body>

</html>