<!DOCTYPE html>
<html>
  <head>
    <title>Fitness Tailor</title>
    <link rel="stylesheet" href="/static/css/w3.css">
  </head>
  <body style="background-color:#ff9e0f">

    {% include 'snips/header.html' %}
    {% include 'snips/header2.html' %}

    <div class="w3-container w3-center w3-staatliches" style="font-size:60px;height:220px">
        <span style="background: -webkit-linear-gradient(grey, black);-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-size:100px;-webkit-text-stroke: 3px black;">SIGN UP FORM</span>
    </div>

    <div class="Register">
        <div class="w3-container w3-theme w3-center" style="font-family:Trebuchet MS, Helvetica, sans-serif;border-top:3px solid black;border-bottom:3px solid black">
            <br><br><br><br><br>
            <form action="" method="POST" novalidate>
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}
                <p>
                  {{ form.firstname.label }}<br>
                  {{ form.firstname(size=32) }}<br>
                  {% for error in form.firstname.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </p>
                <p>
                  {{ form.lastname.label }}<br>
                  {{ form.lastname(size=32) }}<br>
                  {% for error in form.lastname.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </p>
                <p>
                  {{ form.username.label }}<br>
                  {{ form.username(size=32) }}<br>
                  {% for error in form.username.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </p>
                <p>
                  {{ form.email.label }}<br>
                  {{ form.email() }}<br>
                  {% for error in form.email.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </p>
                <p>
                  {{ form.password.label }}<br>
                  {{ form.password(size=32) }}<br>
                  {% for error in form.password.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </p>
                <p>
                  {{ form.password2.label }}<br>
                  {{ form.password2(size=32) }}<br>
                  {% for error in form.password2.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </p>
                <p>
                  {{ form.goal.label }}<br>
                  {{ form.goal(size=200) }}<br>
                  {% for error in form.goal.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </p>
                <p>
                    <span style="font-weight:bold">Fitness Level:</span>
                    <br>
                  {% for subfield in form.fitness %}
                  <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                  </tr>
                  {% endfor %}
                </p>
                <p>
                  {{ form.weight.label }}<br>
                  {{ form.weight(size=3) }} kg<br>
                  {% for error in form.goal.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </p>
                <p>
                  {{ form.goalweight.label }}<br>
                  {{ form.goalweight(size=3) }} kg<br>
                  {% for error in form.goal.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
            <br>
        </div>
    </div>

  </body>
</html>