<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fitness Tailor</title>
    <link rel="stylesheet" href="/static/css/w3.css">
</head>
<body style="background-color:#ff9e0f">

    {% include 'snips/header.html' %}
    {% include 'snips/header2.html' %}

    <div class="w3-container w3-theme w3-center" style="height:800px">
        <form action="{{ url_for('home') }}" method="POST">

            <table class="w3-table w3-center" style="width:10%;margin: 0 auto;text-align:center">
                <tr>
                    <td>Email <input class="w3-border w3-round" type="text" name="email" value="{{ request.form.email }}"></td>
                </tr>
                <tr>
                    <td>Password <input type="password" minlength ="6" maxlength="12" name="password" value="{{ request.form.password }}"></td>
                </tr>
                <tr>
                    <td>First Name <input type="text" name="firstname" value="{{ request.form.firstname }}"></td>
                </tr>
                <tr>
                    <td>Last Name <input type="text" name="surname" value="{{ request.form.surname }}"></td>
                </tr>
                <tr>
                    <td>Age <input type="number" name="age" min="18" value="{{ request.form.age }}"></td>
                </tr>
                <tr>
                    <td>Weight (kg) <input type="number" name="weight" value="{{ request.form.weight }}"></td>
                </tr>
                <tr>
                    <td>Goal Weight (kg) <input type="number" name="goalWeight" value="{{ request.form.goalWeight }}"></td>
                </tr>
                <br>
                <tr>
                    <td>My Current Goal <textarea placeholder="To lose weight" name="goal" rows="3" cols="20" style="resize:none"></textarea></td>
                </tr>
                <tr>
                    <td>
                        Fitness Level
                        <select class="w3-select" name="option">
                          <option value="" disabled selected>Fitness Level</option>
                          <option value="1">Beginner</option>
                          <option value="2">Intermediate</option>
                          <option value="3">Advanced</option>
                        </select>
                    </td>
                </tr>
                <td></td>
                <tr>
                    <td><input type="submit" value="Submit"></td>
                </tr>
            </table>

        </form>
    </div>

</body>
</html>