<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches">

<style>
    .w3-theme {color:#fff !important; background-color:#37474f !important}
    .w3-theme2 {color:#fff !important; background-color:#ff9e0f !important}
    .w3-text-theme {color:#ff9e0f !important}
    .w3-staatliches {font-family: 'Staatliches', serif}
</style>

<div class="header">

    <div class="w3-container w3-theme" style="border-bottom: 3px solid black">

        <header class="w3-container w3-theme w3-left w3-text-theme">
            <h1 style="font-size:30px; text-align:center">
                <div class="w3-staatliches">
                    <form action="{{ url_for('login') }}" method="POST" style="display:inline">
                        {{ login_status }}
                        <br>
                    </form>
                </div>
            </h1>
        </header>

        <header class="w3-container w3-theme w3-right w3-text-theme">
            <h1 style="font-size:30px; text-align:center">
                <div class="w3-staatliches">
                    FITNESS TAILOR
                    <form action="{{ url_for('home') }}" method="POST" style="display:inline">
                        <input type="hidden" name="username" value={{ username }}>
                        <input type="image" src="/static/images/logo.png" border="0" alt="Logo" style="width: 80px; height: 80px;vertical-align:middle;outline:none"/>
                    </form>
                </div>
            </h1>
        </header>

    </div>

</div>