<!DOCTYPE html>
<html>
    <head>
        <title>Fitness Tailor</title>
        <link rel="stylesheet" href="/static/css/check.css">
        <link rel="stylesheet" href="/static/css/w3.css">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>

    <script>
        function hover(element) {
          element.setAttribute('src', '/static/images/generateHover.png');
        }

        function unhover(element) {
          element.setAttribute('src', '/static/images/generate.png');
        }
    </script>



    <body style="background-color:#ff9e0f">

        {% include 'snips/header.html' %}
        {% include 'snips/header2.html' %}

        <form action="{{ url_for('generate') }}" method="POST">

            <div class="w3-container w3-center">
                <div class="w3-staatliches" style="font-size:40px;margin-bottom:50px">
                    Energy Level:
                    <br>
                    <label>
                        <input type="radio" name="energy" value="3">
                        <img src="/static/images/sad.png" style="height:200px; width:200px; vertical-align:middle;">
                    </label>

                    <label>
                        <input type="radio" name="energy" value="6" checked>
                        <img src="/static/images/neutral.png" style="height:200px; width:200px; vertical-align:middle;">
                    </label>

                    <label>
                      <input type="radio" name="energy" value="9">
                      <img src="/static/images/happy.png" style="height:200px; width:200px; vertical-align:middle;">
                    </label>
                </div>
            </div>


            <div class="Generate Button">
                <div class="generate w3-container w3-center">

                        <input type="hidden" name="username" value={{ username }}>
                        <input type="image" src="/static/images/generate.png" onmouseover="hover(this);" onmouseout="unhover(this);" border="0" alt="Generate" style="width:250px;height:250px;outline:none">

                </div>
            </div>

        </form>

        <br>
        <br>
        <br>

        {% include 'snips/footer.html' %}

    </body>

</html>