<!DOCTYPE html>
<html>
    <head>
        <title>Fitness Tailor</title>
        <link rel="stylesheet" href="/static/css/check.css">
        <link rel="stylesheet" href="/static/css/w3.css">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>

    {% set iteration = 1 | int %}

    <script>

        window.id = 1

        function hover(element) {
          element.setAttribute('src', '/static/images/' + element.name + 'Hover.png');
        }

        function unhover(element) {
          element.setAttribute('src', '/static/images/' + element.name + '.png');
        }


        function nextOption() {

          if (window.id == 3) {
            return
          }

          window.id = window.id + 1

          if (window.id == 3) {
            document.getElementById('next').setAttribute('src', '/static/images/arrowDisabled.png')
          } else {
            document.getElementById('next').setAttribute('src', '/static/images/arrow.png')
            document.getElementById('prev').setAttribute('src', '/static/images/arrow.png')
          }

          var i;
          var x = document.getElementsByClassName("option");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
            x[i].setAttribute('src', '/static/images/arrow.png')
          }
          document.getElementById(window.id).style.display = "block";

        }

        function prevOption() {

          if (window.id == 1) {
            return
          }

          window.id = window.id - 1

          if (window.id == 1) {
            document.getElementById('prev').setAttribute('src', '/static/images/arrowDisabled.png')
          } else {
            document.getElementById('prev').setAttribute('src', '/static/images/arrow.png')
            document.getElementById('next').setAttribute('src', '/static/images/arrow.png')
          }

          var i;
          var x = document.getElementsByClassName("option");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
            x[i].setAttribute('src', '/static/images/arrow.png')
          }
          document.getElementById(window.id).style.display = "block";

        }

    </script>



    <body style="background-color:#ff9e0f">

        {% include 'snips/header.html' %}
        {% include 'snips/header2.html' %}

        <form action="{{ url_for('generate') }}" method="POST">

            <div class="w3-container w3-center">
                <div class="option w3-staatliches" id="1" style="font-size:40px;margin-bottom:50px">
                    <label class="w3-animate-opacity">
                        Energy Level
                    </label>
                    <br>
                    <br>
                    <label class="w3-animate-opacity" style="margin-right:25px">
                        <input type="radio" name="energy" value="3">
                        <img name="sad" src="/static/images/sad.png" onmouseover="hover(this);" onmouseout="unhover(this);" style="height:200px; width:200px; vertical-align:middle;border-radius: 80%;">
                    </label>

                    <label class="w3-animate-opacity">
                        <input type="radio" name="energy" value="6" checked>
                        <img name="neutral" src="/static/images/neutral.png" onmouseover="hover(this);" onmouseout="unhover(this);" style="height:200px; width:200px; vertical-align:middle;border-radius: 80%;">
                    </label>

                    <label class="w3-animate-opacity" style="margin-left:25px">
                      <input type="radio" name="energy" value="9">
                      <img name="happy" src="/static/images/happy.png" onmouseover="hover(this);" onmouseout="unhover(this);" style="height:200px; width:200px; vertical-align:middle;border-radius: 80%;">
                    </label>
                </div>

                <div class="option w3-staatliches" id="2" style="font-size:40px;margin-bottom:50px;display:none">
                    <label class="w3-animate-opacity">
                        Muscle Group
                    </label>
                    <br>
                    <br>

                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="muscle" value="Chest" style="display:none">
                        <img name="happy" src="/static/images/icons/muscles/Chest.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>
                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="muscle" value="Forearms" style="display:none">
                        <img name="happy" src="/static/images/icons/muscles/Forearms.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>
                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="muscle" value="Lats" style="display:none">
                        <img name="happy" src="/static/images/icons/muscles/Lats.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>
                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="muscle" value="Middle Back" style="display:none">
                        <img name="happy" src="/static/images/icons/muscles/MiddleBack.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>
                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="muscle" value="Lower Back" style="display:none">
                        <img name="happy" src="/static/images/icons/muscles/LowerBack.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>
                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="muscle" value="Neck" style="display:none">
                        <img name="happy" src="/static/images/icons/muscles/Neck.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>
                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="muscle" value="Quadriceps" style="display:none">
                        <img name="happy" src="/static/images/icons/muscles/Quadriceps.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>
                    <br>
                    <br>
                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="muscle" value="Hamstrings" style="display:none">
                        <img name="happy" src="/static/images/icons/muscles/Hamstrings.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>
                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="muscle" value="Calves" style="display:none">
                        <img name="happy" src="/static/images/icons/muscles/Calves.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>
                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="muscle" value="Triceps" style="display:none">
                        <img name="happy" src="/static/images/icons/muscles/Triceps.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>
                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="muscle" value="Traps" style="display:none">
                        <img name="happy" src="/static/images/icons/muscles/Traps.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>
                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="muscle" value="Shoulders" style="display:none">
                        <img name="happy" src="/static/images/icons/muscles/Shoulders.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>
                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="muscle" value="Abdominals" style="display:none">
                        <img name="happy" src="/static/images/icons/muscles/Abdominals.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>
                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="muscle" value="Glutes" style="display:none">
                        <img name="happy" src="/static/images/icons/muscles/Glutes.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>
                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="muscle" value="Biceps" style="display:none">
                        <img name="happy" src="/static/images/icons/muscles/Biceps.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>
                </div>

                <div class="option w3-staatliches" id="3" style="font-size:40px;margin-bottom:50px;display:none">
                    <label class="w3-animate-opacity">
                        Equipment Selection
                    </label>
                    <br>
                    <br>

                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="equipment" value="Band" style="display:none">
                        <img name="happy" src="/static/images/icons/equipment/Band.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>
                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="equipment" value="Barbell" style="display:none">
                        <img name="happy" src="/static/images/icons/equipment/Barbell.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>
                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="equipment" value="Cables" style="display:none">
                        <img name="happy" src="/static/images/icons/equipment/Cables.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>
                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="equipment" value="Dumbbell" style="display:none">
                        <img name="happy" src="/static/images/icons/equipment/Dumbbell.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>
                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="equipment" value="ExerciseBall" style="display:none">
                        <img name="happy" src="/static/images/icons/equipment/ExerciseBall.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>
                    <br>
                    <br>
                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="equipment" value="EZCurlBar" style="display:none">
                        <img name="happy" src="/static/images/icons/equipment/EZCurlBar.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>
                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="equipment" value="FoamRoll" style="display:none">
                        <img name="happy" src="/static/images/icons/equipment/FoamRoll.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>
                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="equipment" value="KettleBell" style="display:none">
                        <img name="happy" src="/static/images/icons/equipment/KettleBell.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>
                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="equipment" value="Machine" style="display:none">
                        <img name="happy" src="/static/images/icons/equipment/Machine.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>
                    <label class="w3-animate-opacity">
                        <input type="checkbox" name="equipment" value="MedicineBall" style="display:none">
                        <img name="happy" src="/static/images/icons/equipment/MedicineBall.jpg" style="height:70px; width:70px; vertical-align:middle;border-radius: 80%;border:1px solid black;">
                    </label>

                </div>

            </div>

            <div class="Menu">
                <div class="generate w3-container w3-center">
                        <input type="hidden" name="username" value={{ username }}>
                        <a href="#" onclick="prevOption()"><img id="prev" src="/static/images/arrowDisabled.png" style="transform: scaleX(-1);width:125px;height:75px;margin-right:30px"></a>
                        <input type="image" name="generate" src="/static/images/generate.png" onmouseover="hover(this);" onmouseout="unhover(this);" border="0" alt="Generate" style="vertical-align:middle;width:250px;height:250px;outline:none;border-radius: 80%;">
                        <a href="#" onclick="nextOption()"><img id="next" src="/static/images/arrow.png" style="width:125px;height:75px;margin-left:30px"></a>
                </div>
            </div>

            {% if error %}
                <p class="w3-container w3-center"><font color="red">{{ error }}</font></p>
            {% endif %}

        </form>

        <br>
        <br>
        <br>

        {% include 'snips/footer.html' %}

    </body>

</html>