<!DOCTYPE html>
<html>
  <head>
    <title>Fitness Tailor</title>
    <link rel="stylesheet" href="/static/css/w3.css">
  </head>
  <body background="/static/images/logo.png">

    {% include 'snips/header.html' %}

    <div class="w3-container" style="height:220px"></div>

    <div class="Login Details">
        <div class="w3-container w3-white w3-center" style="border-top:3px solid black;border-bottom:3px solid black">
            <br><br><br><br><br>
            <form action="" method="POST" novalidate>
                {{ form.hidden_tag() }}
                <table class="w3-table w3-center" style="width:10%;margin: 0 auto;text-align:center">
                    <tr>
                        <td><input type="text" placeholder="Email" name="username" value="{{ form.username() }}"></td>
                    </tr>
                    <tr>
                        <td><input type="password" placeholder="Password" name="password" value="{{ form.password() }}"></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" checked="checked" name="remember" value="{{ form.remember_me() }}"></td>
                    </tr>
                </table>
                <br>
                {% if error %}
                    <p class="error"><font color="red">{{ error }}</font></p>
                {% endif %}
                <p><input class="w3-btn w3-theme" type="submit" value="{{ form.submit() }}"></p>
            </form>
            <br>
        </div>
    </div>

  </body>
</html>