<!DOCTYPE html>
<html>
  <head>
    <title>Fitness Tailor</title>
    <link rel="stylesheet" href="/static/css/w3.css">
  </head>
  <body>

    <div class="header">
        <header class="w3-container w3-black w3-center">
            <form action="{{ url_for('login') }}" style="display:inline;">
                    <input type="image" src="/static/images/logo.png" border="0" alt="Logo" style="width: 100px; height: 100px;" />
            </form>
            <h1 style="font-size:30px">Fitness Tailor</h1>
            <h2 style="font-size:14px">Find a workout that fits you</h2>
        </header>
    </div>

    <div class="Login Details">
        <div class="w3-container w3-white w3-center">
            <p>Please login to continue.</p>
            <form action="" method="POST">
                <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
                <br>
                <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
                <br>
                {% if error %}
                    <p class="error"><font color="red">{{ error }}</font></p>
                {% endif %}
                <p><input class="w3-btn w3-black" type="submit" value="Login"></p>
            </form>
            <br>
        </div>
    </div>

    {% include 'footer.html' %}

  </body>
</html>