<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fitness Tailor</title>
        <link rel="stylesheet" href="/static/css/w3.css">
    </head>

    <script>
        function openWorkout(workoutName) {
          var i;
          var x = document.getElementsByClassName("workout");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          document.getElementById(workoutName).style.display = "block";
        }
    </script>

    <body style="background-color:#ff9e0f">
        {% include 'snips/header.html' %}

        <div class="w3-sidebar w3-theme w3-bar-block w3-staatliches" style="font-size:30px;width:25%">
            <button class="w3-bar-item w3-button w3-center" onclick="openWorkout('Legs')">Legs</button>
            <button class="w3-bar-item w3-button w3-center" onclick="openWorkout('Chest')">Chest</button>
            <button class="w3-bar-item w3-button w3-center" onclick="openWorkout('Arms')">Arms</button>
        </div>

        <div id="Legs" class="w3-container w3-theme2 w3-center workout" style="display:block">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ljO4jkwv8wQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div id="Chest" class="w3-container w3-theme2 w3-center workout" style="display:none">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/vcBig73ojpE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div id="Arms" class="w3-container w3-theme2 w3-center workout" style="display:none">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/i1YgFZB6alI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </body>
</html>