<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fitness Tailor</title>
        <link rel="stylesheet" href="/static/css/w3.css">
    </head>

    <script>
        function openWorkout(workoutName) {
          var i;
          var x = document.getElementsByClassName("workout");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          document.getElementById(workoutName).style.display = "block";

        }
    </script>

    <body style="background-color:#ff9e0f">
        {% include 'snips/header.html' %}

        <div class="w3-sidebar w3-theme w3-bar-block w3-staatliches" style="font-size:30px;width:25%">

            {% for exercise in exercise_list %}
                <button class="w3-bar-item w3-button w3-center" onclick="openWorkout({{ exercise['id'] }})">{{ exercise['exercise'] }}</button>
            {% endfor %}

        </div>

        {% include 'snips/header2.html' %}

        <div class="w3-container w3-rest" style="margin-left:25%; font-family:Trebuchet MS, Helvetica, sans-serif">

            {% set ns = namespace(ex=0) %}
            {% for exercise in exercise_list %}
                {% if ns.ex == 0 %}

                    <div class="workout" id="{{ exercise['id'] }}" style="display:block">
                        <p>
                            {{ exercise['description'] }}
                        </p>
                        {% set ns.ex = ns.ex + 1 %}
                    </div>
                {% else %}
                    <div class="workout" id="{{ exercise['id'] }}" style="display:none">
                        <p>
                            {{ exercise['description'] }}
                        </p>
                    </div>
                {% endif %}

            {% endfor %}

        </div>


    </body>
</html>