<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches">
<link rel="stylesheet" href="/static/css/scrollbar.css">

<script src="/static/js/header.js"></script>

<style>
    .w3-theme {color:#fff !important; background-color:#37474f !important}
    .w3-theme2 {color:#fff !important; background-color:#ff9e0f !important}
    .w3-text-theme {color:#ff9e0f !important}
    .w3-staatliches {font-family: 'Staatliches', serif}
</style>

<div class="header">

    <div class="w3-container w3-theme" style="border-bottom: 3px solid black">

        <header class="w3-container w3-theme w3-left w3-text-theme">
            <h1 style="position:absolute;font-size:30px; text-align:center; top:20px;">
                <div class="w3-staatliches">
                        <div class="w3-container">
                            <span>Welcome</span>
                            <span style="color:yellow;">{{ current_user.firstname }}</span>.
                        </div>

                </div>
            </h1>
        </header>

        <header class="w3-staatliches w3-container w3-theme w3-center w3-text-theme" style="position:absolute;top:20px;width:50%;left:0;right:0;margin: 0 auto;font-size:30px; text-align:center">
                <a href="/logout" style="text-decoration:none">
                    <div class="w3-container w3-button w3-red" style="display:inline-block">
                        Sign out
                    </div>
                </a>
                <a href="#" style="text-decoration:none" onclick="document.getElementById('my_workouts').style.display='block'">
                    <div class="w3-container w3-button w3-teal" style="display:inline-block">
                        My Workouts
                    </div>
                </a>
                <a href="#" style="text-decoration:none" onclick="document.getElementById('my_program').style.display='block'">
                    <div class="w3-container w3-button w3-yellow" style="display:inline-block">
                        My Programs
                    </div>
                </a>
        </header>

        <div id="my_profile" class="w3-modal">
            <div class="w3-staatliches w3-modal-content w3-text-theme w3-theme w3-animate-top" style="font-size:30px;height:60%">
                <div class="w3-container w3-center">
                    <br>
                    <span>My Profile</span>
                </div>
                <span onclick="document.getElementById('my_profile').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            </div>
        </div>

        <div id="my_program" class="w3-modal">
            <div class="w3-staatliches w3-modal-content w3-text-theme w3-theme w3-animate-top" style="font-size:30px;height:500px">
                <div class="w3-container">
                    <br>
                    <div class="w3-center">My Program</div>
                    <div class="w3-container" style="color:white;font-size:14px;font-family:Trebuchet MS, Helvetica, sans-serif;position:absolute;width:30%;height:80%;overflow:auto">
                        Create a 7-day program with your existing saved workouts.
                        Plan ahead of your week with this training program.
                        Save your program, name it, and use the program whenever you are in need of a good workout week.
                        How many workouts you want to do in one week is up to you, this time, YOU tailor your workout week!
                        <br><br>
                        A good recommended split is Monday, Wednesday, Friday, with weekends off and a rest day in-between.
                    </div>
                    <table class="w3-container w3-center" style="color:white;font-size:14px;font-family:Trebuchet MS, Helvetica, sans-serif;position:absolute;margin-left:30%;width:30%;overflow:hidden">
                        <tr>
                            <td><input type="button" value="Monday" class="w3-staatliches w3-button w3-center w3-animate-opacity w3-theme2" onclick="document.getElementById('Add_Monday').style.display='block'" style="width:100px;text-align:center"></td>
                            <td><div id="Monday" style="height:40px;width:100px;border:2px solid black">Rest</div></td>
                        </tr>
                        <tr>
                            <td><input type="button" value="Tuesday" class="w3-staatliches w3-button w3-center w3-animate-opacity w3-theme2" onclick="document.getElementById('Add_Tuesday').style.display='block'" style="width:100px;text-align:center"></td>
                            <td><div id="Tuesday" style="height:40px;width:100px;border:2px solid black">Rest</div></td>
                        </tr>
                        <tr>
                            <td><input type="button" value="Wednesday" class="w3-staatliches w3-button w3-center w3-animate-opacity w3-theme2" onclick="document.getElementById('Add_Wednesday').style.display='block'" style="width:100px;text-align:center"></td>
                            <td><div id="Wednesday" style="height:40px;width:100px;border:2px solid black">Rest</div></td>
                        </tr>
                        <tr>
                            <td><input type="button" value="Thursday" class="w3-staatliches w3-button w3-center w3-animate-opacity w3-theme2" onclick="document.getElementById('Add_Thursday').style.display='block'" style="width:100px;text-align:center"></td>
                            <td><div id="Thursday" style="height:40px;width:100px;border:2px solid black">Rest</div></td>
                        </tr>
                        <tr>
                            <td><input type="button" value="Friday" class="w3-staatliches w3-button w3-center w3-animate-opacity w3-theme2" onclick="document.getElementById('Add_Friday').style.display='block'" style="width:100px;text-align:center"></td>
                            <td><div id="Friday" style="height:40px;width:100px;border:2px solid black">Rest</div></td>
                        </tr>
                        <tr>
                            <td><input type="button" value="Saturday" class="w3-staatliches w3-button w3-center w3-animate-opacity w3-theme2" onclick="document.getElementById('Add_Saturday').style.display='block'" style="width:100px;text-align:center"></td>
                            <td><div id="Saturday" style="height:40px;width:100px;border:2px solid black">Rest</div></td>
                        </tr>
                        <tr>
                            <td><input type="button" value="Sunday" class="w3-staatliches w3-button w3-center w3-animate-opacity w3-theme2" onclick="document.getElementById('Add_Sunday').style.display='block'" style="width:100px;text-align:center"></td>
                            <td><div id="Sunday" style="height:40px;width:100px;border:2px solid black;">Rest</div></td>
                        </tr>
                    </table>
                    <div class="w3-container w3-center" style="margin-top:20px;color:white;font-size:20px;position:absolute;margin-left:60%;width:30%;overflow:hidden">
                        <input type="submit" value="Save Program" class="w3-container w3-button w3-lime" onclick="document.getElementById('save_program_name').style.display='block'" style="width:200px;display:inline-block">
                        <br><br>
                        <button class="w3-container w3-button w3-blue" onclick="document.getElementById('view_programs').style.display='block'" style="width:200px;display:inline-block">
                            View a Program
                        </button>
                        <br><br>
                        <button class="w3-container w3-button w3-red" onclick="document.getElementById('delete_programs').style.display='block'" style="width:200px;display:inline-block">
                            Delete a Program
                        </button>
                    </div>

                    <div id="view_programs" class="w3-modal">
                        <div class="w3-modal-content w3-text-theme w3-theme w3-animate-right w3-right" style="width:20%;height:60%">
                            <div class="w3-center"><span style="background: -webkit-linear-gradient(yellow, #ff9e0f);-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-size:50px;-webkit-text-stroke: 2px black;">VIEW A PROGRAM</span></div>
                          <div class="w3-container w3-center" style="height:80%;overflow-y:auto">
                              <br>
                              {% for program in programs %}
                                <input type="button" value="{{ program['program_name'] }}" class="w3-button w3-center w3-animate-opacity w3-theme2" onclick="viewProgram({{ program['program_id'] }})" style="width:90%;text-align:center">
                                <br>
                                <br>
                              {% endfor %}

                            <span onclick="document.getElementById('view_programs').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                          </div>
                        </div>
                    </div>

                    {% for program in programs %}
                        <div id="view_program_{{ program['program_id'] }}" class="w3-modal">
                            <div class="w3-modal-content w3-text-theme w3-theme w3-animate-top" style="font-size:26px;width:1500px;height:80%">
                                <div class="w3-center"><span style="background: -webkit-linear-gradient(yellow, #ff9e0f);-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-size:50px;-webkit-text-stroke: 2px black;">{{ program['program_name'] }}</span></div>
                              <div class="w3-container w3-center" style="height:80%;overflow-y:auto">
                                  <br>
                                  <table class="w3-table w3-striped" style="width:50%;position:absolute;">

                                      <th style="color:white;text-decoration: underline;">Day</th>
                                      <th style="color:white;text-decoration: underline;">Workout</th>

                                  {% for workout in program['program'] %}
                                      <tr>

                                    {% if workout['workout_id'] == -1 %}
                                        <td>{{ workout['day'] }}:</td>
                                        <td>Rest</td>
                                    {% else %}
                                        <td>{{ workout['day'] }}:</td>
                                        <td>
                                            <input type="button" value="{{ workout['workout_name'] }}" class="w3-button w3-center w3-animate-opacity w3-theme2" onclick="openSavedProgramWorkout({{ workout['workout_id'] + program['program_id'] *  program['program_id'] *  program['program_id'] + 23456 }})" style="text-align:center">
                                        </td>
                                    {% endif %}

                                      </tr>


                                  {% endfor %}

                                  </table>
                                  <div style="margin-left:50%">

                                    {% set ns = namespace(ex=0) %}
                                    {% for workout in program['program'] %}

                                        {% if workout['workout_id'] == -1 %}

                                        {% else %}

                                            {% if ns.ex == 0 %}
                                                <div class="savedProgramWorkout" id="{{ workout['workout_id'] + program['program_id'] *  program['program_id'] *  program['program_id'] + 23456 }}" style="height:70%;border-radius:10%;margin:50px;background-color:#5e7a87;display:block;overflow:auto;position:absolute;">
                                                {% set ns.ex = ns.ex + 1 %}
                                            {% else %}
                                                <div class="savedProgramWorkout" id="{{ workout['workout_id'] + program['program_id'] *  program['program_id'] *  program['program_id']+ 23456 }}" style="height:70%;border-radius:10%;margin:50px;background-color:#5e7a87;display:none;overflow:auto;position:absolute;">
                                            {% endif %}

                                                    <div class="w3-staalitches" style="margin:20px"><span style="color:yellow">{{ workout['workout_name'] }}</span></div>
                                                <button class="w3-button w3-staalitches w3-green" style="margin-left:20px;font-size:14px" onclick="">Begin Workout</button>
                                                <br><br>
                                                <div style="font-family:Trebuchet MS, Helvetica, sans-serif;font-size:20px;margin-left:20px">
                                                    {% for exercise in workout['workout'] %}

                                                        {% if exercise['muscle'][0] == 'Quads' %}
                                                        <img src="/static/images/icons/muscles/Legs.jpg" width="5%" height="5%" style="border-radius:80%">
                                                        {% else %}
                                                        <img src="/static/images/icons/muscles/{{ exercise['muscle'][0] }}.jpg" width="5%" height="5%" style="border-radius:80%">
                                                        {% endif %}
                                                        {{ exercise['exercise'] }}
                                                        <br>
                                                        <br>

                                                    {% endfor %}
                                                </div>

                                            </div>
                                        {% endif %}


                                    {% endfor %}

                                  </div>

                                <span onclick="document.getElementById('view_program_{{ program['program_id'] }}').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                              </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div id="delete_programs" class="w3-modal">
                        <div class="w3-modal-content w3-text-theme w3-theme w3-animate-right w3-right" style="width:20%;height:60%">
                            <div class="w3-center"><span style="background: -webkit-linear-gradient(yellow, #ff9e0f);-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-size:50px;-webkit-text-stroke: 2px black;">Delete which Program?</span></div>
                          <div class="w3-container w3-center" style="height:60%;overflow-y:auto">
                              <br>
                              {% for program in programs %}
                                <input type="button" value="{{ program['program_name'] }}" class="w3-button w3-center w3-animate-opacity w3-red" onclick="deleteProgram({{ program['program_id'] }})" style="width:90%;text-align:center">
                                <br>
                                <br>
                              {% endfor %}

                            <span onclick="document.getElementById('delete_programs').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                          </div>
                        </div>
                    </div>

                    <form id="delete_program" action="{{ url_for('home') }}" method="POST">
                        <input type="hidden" name="action" value="delete program">
                        <input type="hidden" name="username" value={{ current_user.username }}>
                    </form>

                    <form id="save_program" action="{{ url_for('home') }}" method="POST">

                        <input type="hidden" name="action" value="save program">
                        <input type="hidden" name="username" value={{ current_user.username }}>
                        <input id="Monday_Value" type="hidden" name="Monday Workout" value="Rest">
                        <input id="Tuesday_Value" type="hidden" name="Tuesday Workout" value="Rest">
                        <input id="Wednesday_Value" type="hidden" name="Wednesday Workout" value="Rest">
                        <input id="Thursday_Value" type="hidden" name="Thursday Workout" value="Rest">
                        <input id="Friday_Value" type="hidden" name="Friday Workout" value="Rest">
                        <input id="Saturday_Value" type="hidden" name="Saturday Workout" value="Rest">
                        <input id="Sunday_Value" type="hidden" name="Sunday Workout" value="Rest">

                        <div id="save_program_name" class="w3-modal">
                            <div class="w3-modal-content w3-text-theme w3-theme w3-animate-top">
                              <div class="w3-container w3-center">
                                  <br>
                                  <span style="background: -webkit-linear-gradient(yellow, #ff9e0f);-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-size:74px;-webkit-text-stroke: 2px black;">SAVE PROGRAM</span>
                                  <br><br>
                                  Name your Program:
                                  <br>
                                  <input type="text" name="program_name" style="font-family:Trebuchet MS, Helvetica, sans-serif;text-align:center">
                                  <br>
                                  <br>
                                  <input type="submit" value="Confirm" class="w3-button w3-center w3-animate-opacity w3-theme2">
                                  <br>
                                  <br>
                                <span onclick="document.getElementById('save_program_name').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                              </div>
                            </div>
                        </div>

                    </form>

                    <div id="Add_Monday" class="w3-modal">
                        <div class="w3-staatliches w3-modal-content w3-text-theme w3-right w3-theme w3-animate-right" style="font-size:30px;width:20%;height:60%">
                            <div class="w3-center">Add which workout for <span style="color:yellow">Monday</span>:</div>
                            <div class="w3-center" style="overflow-y:auto;height:90%;">
                                <input type="button" value="Rest" class="w3-button w3-center w3-animate-opacity w3-cyan" onclick="addWorkout('Monday', 'Monday_Value', 'Rest', 'Rest')" style="width:90%;text-align:center">
                                <br>
                                <br>
                                {% for workout in workouts %}
                                    <input type="button" id="{{ workout['workout_id'] + 5000 }}" value="{{ workout['workout_name'] }}" class="w3-button w3-center w3-animate-opacity w3-theme2" onclick="addWorkout('Monday', 'Monday_Value', '{{ workout['workout_name'] }}', '{{ workout['workout_id'] }}')" style="width:90%;text-align:center">
                                    <br>
                                    <br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div id="Add_Tuesday" class="w3-modal">
                        <div class="w3-staatliches w3-modal-content w3-text-theme w3-right w3-theme w3-animate-right" style="font-size:30px;width:20%;height:60%">
                            <div class="w3-center">Add which workout for <span style="color:yellow">Tuesday</span>:</div>
                            <div class="w3-center" style="overflow-y:auto;height:90%;">
                                <input type="button" value="Rest" class="w3-button w3-center w3-animate-opacity w3-cyan" onclick="addWorkout('Tuesday', 'Tuesday_Value', 'Rest', 'Rest')" style="width:90%;text-align:center">
                                <br>
                                <br>
                                {% for workout in workouts %}
                                    <input type="button" value="{{ workout['workout_name'] }}" class="w3-button w3-center w3-animate-opacity w3-theme2" onclick="addWorkout('Tuesday', 'Tuesday_Value', '{{ workout['workout_name'] }}', '{{ workout['workout_id'] }}')" style="width:90%;text-align:center">
                                    <br>
                                    <br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div id="Add_Wednesday" class="w3-modal">
                        <div class="w3-staatliches w3-modal-content w3-text-theme w3-right w3-theme w3-animate-right" style="font-size:30px;width:20%;height:60%">
                            <div class="w3-center">Add which workout for <span style="color:yellow">Wednesday</span>:</div>
                            <div class="w3-center" style="overflow-y:auto;height:80%;">
                                <input type="button" value="Rest" class="w3-button w3-center w3-animate-opacity w3-cyan" onclick="addWorkout('Wednesday', 'Wednesday_Value', 'Rest', 'Rest')" style="width:90%;text-align:center">
                                <br>
                                <br>
                                {% for workout in workouts %}
                                    <input type="button" value="{{ workout['workout_name'] }}" class="w3-button w3-center w3-animate-opacity w3-theme2" onclick="addWorkout('Wednesday', 'Wednesday_Value', '{{ workout['workout_name'] }}', '{{ workout['workout_id'] }}')" style="width:90%;text-align:center">
                                    <br>
                                    <br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div id="Add_Thursday" class="w3-modal">
                        <div class="w3-staatliches w3-modal-content w3-text-theme w3-right w3-theme w3-animate-right" style="font-size:30px;width:20%;height:60%">
                            <div class="w3-center">Add which workout for <span style="color:yellow">Thursday</span>:</div>
                            <div class="w3-center" style="overflow-y:auto;height:90%;">
                                <input type="button" value="Rest" class="w3-button w3-center w3-animate-opacity w3-cyan" onclick="addWorkout('Thursday', 'Thursday_Value', 'Rest', 'Rest')" style="width:90%;text-align:center">
                                <br>
                                <br>
                                {% for workout in workouts %}
                                    <input type="button" value="{{ workout['workout_name'] }}" class="w3-button w3-center w3-animate-opacity w3-theme2" onclick="addWorkout('Thursday', 'Thursday_Value', '{{ workout['workout_name'] }}', '{{ workout['workout_id'] }}')" style="width:90%;text-align:center">
                                    <br>
                                    <br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div id="Add_Friday" class="w3-modal">
                        <div class="w3-staatliches w3-modal-content w3-text-theme w3-right w3-theme w3-animate-right" style="font-size:30px;width:20%;height:60%">
                            <div class="w3-center">Add which workout for <span style="color:yellow">Friday</span>:</div>
                            <div class="w3-center" style="overflow-y:auto;height:90%;">
                                <input type="button" value="Rest" class="w3-button w3-center w3-animate-opacity w3-cyan" onclick="addWorkout('Friday', 'Friday_Value', 'Rest', 'Rest')" style="width:90%;text-align:center">
                                <br>
                                <br>
                                {% for workout in workouts %}
                                    <input type="button" value="{{ workout['workout_name'] }}" class="w3-button w3-center w3-animate-opacity w3-theme2" onclick="addWorkout('Friday', 'Friday_Value', '{{ workout['workout_name'] }}', '{{ workout['workout_id'] }}')" style="width:90%;text-align:center">
                                    <br>
                                    <br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div id="Add_Saturday" class="w3-modal">
                        <div class="w3-staatliches w3-modal-content w3-text-theme w3-right w3-theme w3-animate-right" style="font-size:30px;width:20%;height:60%">
                            <div class="w3-center">Add which workout for <span style="color:yellow">Saturday</span>:</div>
                            <div class="w3-center" style="overflow-y:auto;height:90%;">
                                <input type="button" value="Rest" class="w3-button w3-center w3-animate-opacity w3-cyan" onclick="addWorkout('Saturday', 'Saturday_Value', 'Rest', 'Rest')" style="width:90%;text-align:center">
                                <br>
                                <br>
                                {% for workout in workouts %}
                                    <input type="button" value="{{ workout['workout_name'] }}" class="w3-button w3-center w3-animate-opacity w3-theme2" onclick="addWorkout('Saturday', 'Saturday_Value', '{{ workout['workout_name'] }}', '{{ workout['workout_id'] }}')" style="width:90%;text-align:center">
                                    <br>
                                    <br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div id="Add_Sunday" class="w3-modal">
                        <div class="w3-staatliches w3-modal-content w3-text-theme w3-right w3-theme w3-animate-right" style="font-size:30px;width:20%;height:60%">
                            <div class="w3-center">Add which workout for <span style="color:yellow">Sunday</span>:</div>
                            <div class="w3-center" style="overflow-y:auto;height:90%;">
                                <input type="button" value="Rest" class="w3-button w3-center w3-animate-opacity w3-cyan" onclick="addWorkout('Sunday', 'Sunday_Value', 'Rest', 'Rest')" style="width:90%;text-align:center">
                                <br>
                                <br>
                                {% for workout in workouts %}
                                    <input type="button" value="{{ workout['workout_name'] }}" class="w3-button w3-center w3-animate-opacity w3-theme2" onclick="addWorkout('Sunday', 'Sunday_Value', '{{ workout['workout_name'] }}', '{{ workout['workout_id'] }}')" style="width:90%;text-align:center">
                                    <br>
                                    <br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <span onclick="document.getElementById('my_program').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            </div>
        </div>

        <div id="my_workouts" class="w3-modal">
            <div class="w3-staatliches w3-modal-content w3-text-theme w3-theme w3-animate-top" style="font-size:30px;width:1500px;height:80%">
              <div class="w3-container w3-center">
                  <br>
                  <span>My Workouts</span>
              </div>
              <br>
              <br>
              <div class="w3-container w3-center" style="position:absolute;width:24%;height:60%;overflow-y:auto">
                  {% for workout in workouts %}
                  <input type="button" value="{{ workout['workout_name'] }}" class="w3-button w3-center w3-animate-opacity w3-theme2" onclick="openSavedWorkout({{ workout['workout_id'] + 12345 }})" style="text-align:center">
                  <br>
                  <br>
                  {% endfor %}
              </div>

              <form id="delete_saved_workout" action="{{ url_for('home') }}" method="POST">

                  <input type="hidden" name="action" value="delete saved workout">
                  <input type="hidden" name="username" value={{ current_user.username }}>

              </form>

              <form id="begin_saved_workout" action="{{ url_for('summary') }}" method="POST">

                  <input type="hidden" name="action" value="begin saved workout">
                  <input type="hidden" name="username" value={{ current_user.username }}>

              </form>

              <div class="w3-container w3-text-white w3-animate-opacity" style="margin-left:25%">

                    {% set ns = namespace(ex=0) %}
                    {% for workout in workouts %}

                        {% if ns.ex == 0 %}
                            <div class="savedWorkout" id="{{ workout['workout_id'] + 12345 }}" style="border-radius:10%;margin-right:20px;background-color:#5e7a87;display:block;overflow:auto;position:absolute;height:60%;">
                            {% set ns.ex = ns.ex + 1 %}
                        {% else %}
                            <div class="savedWorkout" id="{{ workout['workout_id'] + 12345 }}" style="border-radius:10%;margin-right:20px;background-color:#5e7a87;display:none;overflow:auto;position:absolute;height:60%;">
                        {% endif %}

                                <div class="w3-staalitches" style="margin:20px">{{ workout['workout_name'] }}</div>
                                <button class="w3-button w3-staalitches w3-green" style="margin-left:20px;font-size:14px" onclick="beginWorkout({{ workout['workout_id'] }})">Begin Workout</button>
                                <button class="w3-button w3-staalitches w3-red" style="margin-left:20px;font-size:14px" onclick="deleteWorkout({{ workout['workout_id'] }})">Delete Workout</button>
                                <br><br>
                                <div style="font-family:Trebuchet MS, Helvetica, sans-serif;font-size:20px;margin-left:20px">
                                    {% for exercise in workout['workout'] %}

                                        {% if exercise['muscle'][0] == 'Quads' %}
                                        <img src="/static/images/icons/muscles/Legs.jpg" width="5%" height="5%" style="border-radius:80%">
                                        {% else %}
                                        <img src="/static/images/icons/muscles/{{ exercise['muscle'][0] }}.jpg" width="5%" height="5%" style="border-radius:80%">
                                        {% endif %}
                                        {{ exercise['exercise'] }}
                                        <br>
                                        <br>

                                    {% endfor %}
                                </div>

                            </div>

                    {% endfor %}

                  <br>
                  <br>
                <span onclick="document.getElementById('my_workouts').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              </div>
            </div>

        </div>

        <header class="w3-container w3-theme w3-right w3-text-theme">
            <h1 style="font-size:30px; text-align:center">
                <div class="w3-staatliches">
                    FITNESS TAILOR
                    <form action="{{ url_for('home') }}" method="POST" style="display:inline">
                        <input type="hidden" name="username" value={{ username }}>
                        <input type="image" src="/static/images/logo.png" border="0" alt="Logo" style="width: 80px; height: 80px;vertical-align:middle;outline:none"/>
                    </form>
                </div>
            </h1>
        </header>

    </div>

</div>